.background-gold {
    background-color: rgba(179, 130, 40, 0.9)
}

.main-wrapper {
  width: 80%;
  max-width: 1400px;
  background: black;
  min-height: 100vh;
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

.top-space {
    padding-top: 100px;
}

@media (max-width: 767.98px) {
  body {
    padding-top: 56px;
  }
}

.active {
    font-weight: bold;
}

.nav-link-black {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

h5 {
    text-align: center;
}

.hero-section {
  width: 100%;
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
  }
}

.logo-bottom {
  width: 120%;
  display: block;
}